#background{
	position:absolute;
	left: 17%;
	width: 83%;
	height: 100%;
	z-index: -1;
}
.my-button:hover{
	color:green;
}
form{
	margin-top:5%;
	color:black;
}
.stroke {
    font: 1,5em Arial, sans-serif;
    text-shadow: red 1px 1px 0, red -1px -1px 0,
                 red -1px 1px 0, red 1px -1px 0;
}
